body {
  background: #eee;
  padding-top: 70px;
}

#top-row-home {
  padding-bottom: 10px;
}

.top-row-header {
  color: #3773BB;
}

#map-home {
  height: 500px;
}

#map {
  height: 500px;
}

#map-spot {
  height: 300px;
}

#artspot-edit {
  float: right;
}

/*.edit-input {
  height: 300px;
}*/

.fa.fa-twitter {
  color: #3F9EE5;
}

#twitter-button {
  margin-bottom: 10px;
  background-color: #eee;
}

#tweet-text {
  color:black;
  text-decoration: none;
}



