body {
  padding-top: 40px;
  background: url('grunge_wall/grunge_wall.png');
}

#top-row-home {
  padding-bottom: 10px;
}

.top-row-header {
  color: #3773BB;
}

#map-home {
  height: 500px;
}

#map {
  height: 500px;
}

#map-spot {
  height: 300px;
}

#artspot-edit {
  float:right;
  margin-bottom: 10px;
}

#artspot-comments {
  padding-top: 20px;
}

#comment-input {
  padding-top: 20px;
}

#comment-box {
  width: 500px;
}

#comment-button {
  margin-left: 10px;
}

#comment-author {
  font-style: bold;
  font-size: 24px;
}

.twitter-button {
  margin-bottom: 5px;
}

.panel-title {
  color: #686868;
}

.panel-default .panel-heading {
  background-color: #d8d8d8;
  border: solid 1px #d0d0d0;
}

.panel-body {
  background: #F0F0F0;
}

.edit-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.short-title-edit-input {
  height: 50px;
  width: 400px;
  margin-bottom: 20px;
}

.description-edit-input {
  height: 100px;
  width: 400px;
  margin-bottom: 20px;
}

