<template name="artspotPage">
  <div class="row">
    <div class="col-xs-6">
    <a href="https://twitter.com/intent/tweet?button_hashtag=artmapaustin&text=Check%20out%20this%20art%20spot" class="twitter-hashtag-button .twitter-button"><strong> Tweet #artmapaustin</strong></a>
    </div>
    <div class="col-xs-6">
      <a href={{pathFor 'artspotGallery'}} class="btn btn-default btn-info" id="artspot-gallery"><span class="glyphicon glyphicon-picture"></span> Photo Gallery</a>
      <a href={{pathFor 'artspotEdit'}} class="btn btn-default btn-primary" id="artspot-edit"><span class="glyphicon glyphicon-pencil"></span> edit artspot</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
      {{description}}
    </div>
    </div>
  <div id="map-spot">
  </div>
  <div class="input-group" id="comment-input">
    <textarea name="textBody" id="comment-box" rows="2" placeholder="type comment here..."></textarea>
    <button class="btn btn-default btn-primary" id="comment-button"><span class="glyphicon glyphicon-plus"></span> add comment</button>
  </div>
  <ul class="media-list">
    <li class="media">
      <div class="media-body" id="artspot-comments">
        {{#each comments}}
          {{> comment}}
        {{/each}}
      </div>
    </li>
  </ul>
</template>
