<template name="artspotGallery">
  <h2>Photos at {{title}}</h2>
  {{> photoUpload}}
  <div class="row">
    <div class="col-xs-4">
      <img src="http://placekitten.com/300/300">
      <p>placeholder text</p>
    </div>
    <div class="col-xs-4">
      <img src="http://placekitten.com/300/300">
      <p>placeholder text</p>
    </div>
    <div class="col-xs-4">
      <img src="http://placekitten.com/300/300">
      <p>placeholder text</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <img src="http://placekitten.com/300/300">
      <p>placeholder text</p>
    </div>
    <div class="col-xs-4">
      <img src="http://placekitten.com/300/300">
      <p>placeholder text</p>
    </div>
    <div class="col-xs-4">
      <img src="http://placekitten.com/300/300">
      <p>placeholder text</p>
    </div>
  </div>
</template>
