<template name="artspotEdit">
  <form class="main">
    <div>
      <label class="control-label edit-title" for="description">short title</label>
        <textarea class="form-control short-title-edit-input" name="title" type="text" rows="1" placeholder={{title}}></textarea>
    </div>
    <div>
      <label class="control-label edit-title" for="description">description of art</label>
      <div class="controls">
        <textarea class="description-edit-input" name="description" rows="3" type="text" placeholder={{description}}></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{#if currentUser}}
        <input type="submit" value="Submit" id="submit-artspot-edit" class="btn btn-primary"/>
        {{/if}}
      </div>
    </div>
  </form>
</template>
