<template name="artspotPage">
  <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    {{description}}
  </div>
</div>
<button id="twitter-button"><i class="fa-twitter"></i><a href="https://twitter.com/intent/tweet?button_hashtag=artmapaustin&text=Check%20out%20this%20art%20spot" class="twitter-hashtag-button" id="tweet-text">Tweet #artmapaustin</a></button>
  {{#constant}}
<div id="map-spot"></div>
  {{/constant}}
</template>
