<template name="artspotPage">
  <button id="twitter-button" class="btn btn-default btn-sm"><i class="fa fa-twitter"></i><a href="https://twitter.com/intent/tweet?button_hashtag=artmapaustin&text=Check%20out%20this%20art%20spot" class="twitter-hashtag-button" id="tweet-text"><strong> Tweet #artmapaustin</strong></a></button>
  <a href={{pathFor 'artspotEdit'}} class="btn btn-default btn-primary" id="artspot-edit"><span class="glyphicon glyphicon-pencil"></span> edit artspot</a>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
      {{description}}
    </div>
    </div>
  <div id="map-spot">
  </div>
  <div class="input-group" id="comment-input">
    <textarea id="comment-box" rows="2" placeholder="type comment here"></textarea>
    <button class="btn btn-default btn-primary" id="comment-button"><span class="glyphicon glyphicon-plus"></span> add comment</button>
  </div>
  <ul class="media-list">
    <li class="media">
      <div class="media-body" id="artspot-comments">
        {{#each comments}}
        <!-- <h4 class="media-heading">New comment</h4> -->
          {{> comment}}
        {{/each}}
      </div>
    </li>
  </ul>
</template>
