<template name="artspotPage">
  <button id="twitter-button" class="btn btn-default btn-sm"><i class="fa fa-twitter"></i><a href="https://twitter.com/intent/tweet?button_hashtag=artmapaustin&text=Check%20out%20this%20art%20spot" class="twitter-hashtag-button" id="tweet-text"><strong> Tweet #artmapaustin</strong></a></button>
  <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
    <button id="artspot-edit"><a href={{pathFor 'artspotEdit'}}>edit artspot info</button>
  </div>
  <div class="panel-body">
    {{description}}
  </div>
</div>
<div id="map-spot"></div>
</template>
