<template name="maphome">
    <div class="row" id="top-row-home">
      <div class="col-xs-6 col-sm-4">
        <h4 class="top-row-header">Add</h4>
        <p>artMapAustin is a place to share and discover art. Add the art you see around you so that others can discover it, too.</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h4 class="top-row-header">Discover</h4>
        <p>Find art that's new to you, with most recently added art at the top. Learn about a spot's history, and update art info as it changes.</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h4 class="top-row-header">Share</h4>
        <p>Share your favorite art spots with your friends through Twitter and Facebook.</p>
      </div>
    </div>
    <!-- <div class="well well-lg">Explore the map of Austin's public art below, or click discover art for a list of art with more info and pictures. Plus, add the art you see for others to discover.</div> -->
    {{#constant}}
  <div id="map-home"></div>
    {{/constant}}
</template>
