<template name="maphome">
    <div class="row" id="top-row-home">
      <div class="col-xs-6 col-sm-4">
        <h4 class="top-row-header">Add</h4>
        <p>ArtMap is a place to share and discover art. Add the art around you so that others nearby can discover it, too.</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h4 class="top-row-header">Discover</h4>
        <p>Find art that's new to you. Learn about each artspot's history, and update art info as it changes.</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h4 class="top-row-header">Share</h4>
        <p>Share your favorite art spots with a community of others who love art as much as you do.</p>
      </div>
    </div>
  <div id="map-home"></div>
</template>
