<template name="markerSubmit">
  <form name="marker" class="marker-form">
    <div class="control-group">
      <div class="controls">
        <label for="body">add description of art</label>
        <input type="text" name="description" value=""></input>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">submit</button>
      </div>
    </div>
  </form>
  <div>
    <p id="marker-true"></p>
  </div>
  {{#constant}}
<div id="map"></div>
  {{/constant}}
</template>
