<template name="markerSubmit">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="description">short title</label>
      <div class="controls">
        <input name="title" type="text" value=""/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">description of art</label>
      <div class="controls">
        <input name="description" type="text" value=""/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
  <div>
    <p id="marker-true"></p>
  </div>
  {{#constant}}
<div id="map"></div>
  {{/constant}}
</template>
