<template name="markerSubmit">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="description">short title</label>
      <div class="controls">
        <input name="title" type="text" value=""/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">description of art</label>
      <div class="controls">
        <input name="description" type="text" value=""/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
  <div class="alert alert-warning alert-dismissable" id="marker-true">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Drag your marker to change its location. Click <a class="alert-link" id="marker-alert">here</a> for a new marker.
  </div>
  {{#constant}}
<div id="map"></div>
  {{/constant}}
</template>
